{% extends 'manageuni/base.html' %}
{% load markdownify %}
{% block content %}
{% if request.user.file %}
<img src="{{ request.user.file.url }}" alt="..." width="100px" height="100px">
{% endif %}
<div><span>first name : {{request.user.first_name}}</span></div>
<div><span>last name : {{request.user.last_name}}</span></div>
<div><span>username : {{request.user.username}}</span></div>
<div><span>bio : {{request.user.bio}}</span></div>
<div>life : {{ request.user.lifes | markdownify }}</div>

<div><a href="{% url 'manageuni:edit' %}">edit profile</a></div>
{% endblock %}